@model EmailModel
@{
    ViewData["Title"] = "Home Page";
}
<!-- Section Started -->
<div class="section started" id="section-started">
    <div class="centrize full-width">
        <div class="vertical-center">
            <!-- title -->
            <h1 class="h-title">
                Zaeem <br />Khan
            </h1>

            <!-- content started -->
            <div class="started-content">

                <!-- subtitle -->
                <div class="h-subtitles">
                    <div class="h-subtitle typing-subtitle">

                        <p>Software Consultant </p>

                        <p>Web Developer</p>

                        <p>Programmer</p>

                    </div>
                    <span class="typed-subtitle"></span>
                </div>

                <!-- text -->
                <div class="h-text">
                    Hello! I'm a Software Consultant | Web Developer | Programmer.<br />
                    I have rich experience in web site design and building,
                    also I am good in languages Asp.Net Core MVC 5, Ajax,HTML5, OOP, JavaScript, Jquery, CSS,BS4 ,MSSQL..<br />
                    I love to talk with you about our unique ideas.

                </div>

                <!-- button -->
                <a href="#section-contacts" class="btn">
                    <span class="animated-button"><span>Contact Me</span></span>
                    <i class="icon fas fa-chevron-right"></i>
                </a>

                <!-- mosue button -->
                <a href="#" class="btn mouse-btn" style="display: none;">
                    <i class="icon fas fa-chevron-down"></i>
                </a>

            </div>

        </div>
    </div>
</div>




<!-- Section About -->
<div class="section about" id="section-about">
    <div class="content">

        <!-- title -->
        <div class="titles">
            <div class="title">About Me</div>
        </div>

        <!-- text -->
        <div class="cols">
            <div class="col col-full">
                <div class="single-post-text">
                    <p>
                        Possess 3 years of IT experience as Software
                        engineer. Experience in system analysis, architecture
                        / designing, development, testing and deployment
                        of software applications. Experienced with all stages
                        of the development cycle for dynamic web projects. Strong background in project management and
                        customer relations
                    </p>
                </div>
            </div>
        </div>

        <!-- info list -->
        <div class="info-list">
            <ul>

                <li><strong>Age:</strong> 20</li>

                <li><strong>Residence:</strong> Multan</li>

                <li><strong>Freelance:</strong> Available</li>

                <li><strong>Address:</strong> Punjab,Pakistan</li>

                <li><strong>Phone:</strong> <a href="tel:923075378081">+92 3075378081</a></li>

                <li><strong>E-mail:</strong> <a href="mailto:contact@zaeemkhan.me" style="font-size: smaller;">contact@zaeemkhan.me</a></li>

            </ul>
        </div>

        <div class="clear"></div>
    </div>
</div>




<!-- Section Service -->
<div class="section service" id="section-services">
    <div class="content">

        <!-- title -->
        <div class="titles">
            <div class="title">Services</div>
            <div class="subtitle">What I Do</div>
        </div>

        <!-- services items -->
        <div class="service-items">

            <div class="service-col">
                <div class="service-item">
                    <div class="icon"><i class="fab fa-chrome"></i></div>
                    <div class="name">Web <br />Development</div>
                    <div class="single-post-text">
                        <p>
                            The web development process includes: web design, web content, client-side / server-side scripting configuration.
                        </p>
                    </div>
                </div>
            </div>

            <div class="service-col">
                <div class="service-item">
                    <div class="icon"><i class="fab fa-aws"></i></div>
                    <div class="name">Aws <br />Deployment</div>
                    <div class="single-post-text">
                        <p>
                            The Aws deployment process includes: Createing Amazon EC2 Instance ,Creating Amazon RDS and to set up all network security configuration.
                        </p>
                    </div>
                </div>
            </div>

            <div class="service-col">
                <div class="service-item">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-filetype-json" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM4.151 15.29a1.176 1.176 0 0 1-.111-.449h.764a.578.578 0 0 0 .255.384c.07.049.154.087.25.114.095.028.201.041.319.041.164 0 .301-.023.413-.07a.559.559 0 0 0 .255-.193.507.507 0 0 0 .084-.29.387.387 0 0 0-.152-.326c-.101-.08-.256-.144-.463-.193l-.618-.143a1.72 1.72 0 0 1-.539-.214 1.001 1.001 0 0 1-.352-.367 1.068 1.068 0 0 1-.123-.524c0-.244.064-.457.19-.639.128-.181.304-.322.528-.422.225-.1.484-.149.777-.149.304 0 .564.05.779.152.217.102.384.239.5.41.12.17.186.359.2.566h-.75a.56.56 0 0 0-.12-.258.624.624 0 0 0-.246-.181.923.923 0 0 0-.37-.068c-.216 0-.387.05-.512.152a.472.472 0 0 0-.185.384c0 .121.048.22.144.3a.97.97 0 0 0 .404.175l.621.143c.217.05.406.12.566.211a1 1 0 0 1 .375.358c.09.148.135.335.135.56 0 .247-.063.466-.188.656a1.216 1.216 0 0 1-.539.439c-.234.105-.52.158-.858.158-.254 0-.476-.03-.665-.09a1.404 1.404 0 0 1-.478-.252 1.13 1.13 0 0 1-.29-.375Zm-3.104-.033a1.32 1.32 0 0 1-.082-.466h.764a.576.576 0 0 0 .074.27.499.499 0 0 0 .454.246c.19 0 .33-.055.422-.164.091-.11.137-.265.137-.466v-2.745h.791v2.725c0 .44-.119.774-.357 1.005-.237.23-.565.345-.985.345a1.59 1.59 0 0 1-.568-.094 1.145 1.145 0 0 1-.407-.266 1.14 1.14 0 0 1-.243-.39Zm9.091-1.585v.522c0 .256-.039.47-.117.641a.862.862 0 0 1-.322.387.877.877 0 0 1-.47.126.883.883 0 0 1-.47-.126.87.87 0 0 1-.32-.387 1.55 1.55 0 0 1-.117-.641v-.522c0-.258.039-.471.117-.641a.87.87 0 0 1 .32-.387.868.868 0 0 1 .47-.129c.177 0 .333.043.47.129a.862.862 0 0 1 .322.387c.078.17.117.383.117.641Zm.803.519v-.513c0-.377-.069-.701-.205-.973a1.46 1.46 0 0 0-.59-.63c-.253-.146-.559-.22-.916-.22-.356 0-.662.074-.92.22a1.441 1.441 0 0 0-.589.628c-.137.271-.205.596-.205.975v.513c0 .375.068.699.205.973.137.271.333.48.589.626.258.145.564.217.92.217.357 0 .663-.072.917-.217.256-.146.452-.355.589-.626.136-.274.205-.598.205-.973Zm1.29-.935v2.675h-.746v-3.999h.662l1.752 2.66h.032v-2.66h.75v4h-.656l-1.761-2.676h-.032Z" />
                        </svg>
                    </div>
                    <div class="name">RESTful &amp; Third Party <br />Api's</div>
                    <div class="single-post-text">
                        <p>
                            The RESTful Api's process includes: GET request to retrieve a record, a POST request to create one, a PUT request to update a record, and a DELETE request to delete one .
                        </p>
                        <p>
                            The Third Party Api's process includes: Log-In Using Google,facebook,Microsoft etc &amp; Google Maps &amp; E-commerce &amp; Payment Integration Methods &amp; Magento 2 ...
                        </p>
                    </div>
                </div>
            </div>

            <div class="service-col">
                <div class="service-item">
                    <div class="icon"><i class="fab fa-cpanel"></i></div>
                    <div class="name">Project <br />Deployment</div>
                    <div class="single-post-text">
                        <p>
                            The Project deployment process includes: Managing your web shared hosting server / VPC server / Web mails / SSL certificates.
                        </p>
                    </div>
                </div>
            </div>



        </div>

        <div class="clear"></div>
    </div>
</div>





<!-- Section Resume -->
<div class="section resume" id="section-experience">
    <div class="content">

        <!-- title -->
        <div class="titles">
            <div class="title">Experience</div>
            <div class="subtitle">Working with</div>
        </div>

        <!-- resume items -->
        <div class="content-carousel">
            <div class="owl-carousel" data-slidesview="1" data-slidesview_mobile="1">

                <div class="item">
                    <div class="resume-item active">
                        <div class="date">2021-Present</div>
                        <div class="name">
                            Optimize 4<br />Success
                        </div>
                        <div style="color: #68E0CF">Backend Developer</div>
                        <div class="single-post-text">
                            <ul class="">
                                <li>
                                    Proficiency in Software Development Life Cycle (SDLC) and
                                    Agile methodologies of development process such as
                                    requirement analysis and definition, prototyping, proof of
                                    concept, designing, coding, testing and implementation.
                                </li>
                                <li>
                                    Created Web Methods using Web Service and deployed the
                                    Web Service on IIS in the production server
                                </li>
                                <li>
                                    Designed and Created Tables , Stored procedures using
                                    SQL Server 2019
                                </li>
                                <li>
                                    Responsible for writing SQL Queries based on complex
                                    business logic.
                                </li>
                                <li>
                                    Developed several modules with GUI and console
                                    applications which are used to receive and update data
                                    from Database.
                                </li>
                                <li>Experience with <strong>jQuery, JSON </strong>client side light weight programming language skills. </li>
                                <li>Have hands on project experience followed on <strong>SOLID</strong> principles and <strong>Lazy Loading</strong>, Factory and <strong>Dependency injection</strong> design patterns.</li>
                                <li>Proficient with developing various web services like <strong>ASP.NET Web API</strong>&#39;s using <strong>REST</strong> architectures.</li>
                                <li>Experience in deploying applications with Cloud Services by creating a simple Cloud Service with Visual Studio, testing it locally, deploying to a live <strong>Microsoft Azure</strong> Cloud environment and <strong>Amazon Web Services (AWS)</strong>.</li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="resume-item active">
                        <div class="date">2020-2021</div>
                        <div class="name">Social <br />Club24</div>
                        <div style="color: #68E0CF">Full Stack Developer</div>
                        <div class="single-post-text">
                            <ul class="">
                                <li>
                                    Involved in different phases of SDLC including requirement analysis and architectural design phases of the project using Agile methodologies.
                                </li>
                                <li>Developed UI using JavaScript , HTML , CSS and Bootstrap</li>
                                <li>Extraction data from the Customer Interaction Centre and creating separated file by writing SQL Queries .</li>
                                <li>Used Unit testing to simulate different case scenarios to catch potential bugs. </li>
                                <li>Designed and Created Tables , Stored procedures using SQL Server 2019 .</li>
                                <li>Have hands on project experience followed on <strong>SOLID</strong> principles and <strong>Lazy Loading</strong>, Factory and <strong>Dependency injection</strong> design patterns.</li>
                                <li>Proficient with developing various web services like <strong>ASP.NET Web API</strong>&#39;s using <strong>REST</strong> architectures.</li>
                                <li>Experience with third party custom controls like <strong>Magento 2</strong>.</li>
                                <li>Experience in gathering customer requirements and functional requirements and converting them to technical specifications/requirements and replacing current system with Web-based application.</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="resume-item active">
                        <div class="date">2019-2020</div>
                        <div class="name">Protech IT <br /> Zone</div>
                        <div style="color: #68E0CF">Full Stack Developer</div>
                        <div class="single-post-text">
                            <ul class="">
                                <li>
                                    Involved in different phases of SDLC including requirement analysis and architectural design phases of the project using Agile methodologies.
                                </li>
                                <li>Developed UI using JavaScript , HTML , CSS and Bootstrap</li>
                                <li>Extraction data from the Customer Interaction Centre and creating separated file by writing SQL Queries .</li>
                                <li>Used Unit testing to simulate different case scenarios to catch potential bugs. </li>
                                <li>Designed and Created Tables , Stored procedures using SQL Server 2019 .</li>
                                <li>Have hands on project experience followed on <strong>SOLID</strong> principles and <strong>Lazy Loading</strong>, Factory and <strong>Dependency injection</strong> design patterns.</li>
                                <li>Proficient with developing various web services like <strong>ASP.NET Web API</strong>&#39;s using <strong>REST</strong> architectures.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- navigation -->
            <div class="navs">
                <span class="prev fas fa-chevron-left"></span>
                <span class="next fas fa-chevron-right"></span>
            </div>

        </div>

    </div>
</div>

<!-- Section Resume -->
<div class="section resume" id="section-education">
    <div class="content">

        <!-- title -->
        <div class="titles">
            <div class="title">Education</div>
            <div class="subtitle">Studied at</div>
        </div>

        <!-- resume items -->
        <div class="content-carousel">
            <div class="owl-carousel" data-slidesview="1" data-slidesview_mobile="1">
                <div class="item">
                    <div class="resume-item active">
                        <div class="name">Bahauddin Zakariya <br /> University</div>
                        <div style="color: #68E0CF">Graduated in</div>
                        <div class="single-post-text">

                            <ul>
                                <li>Computer Studies</li>
                                <li>Mathematics</li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>

            <!-- navigation -->
            @*<div class="navs">
                    <span class="prev fas fa-chevron-left"></span>
                    <span class="next fas fa-chevron-right"></span>
                </div>*@

        </div>

    </div>
</div>


<div class="section skills" id="section-skills-lang">
    <div class="content">

        <!-- title -->
        <div class="titles">
            <div class="title">Language Skills</div>
            <div class="subtitle">Reading and writing</div>
        </div>

        <!-- skills items -->
        <div class="skills  dotted">
            <ul>
                <li>
                    <div class="name">English</div>
                    <div class="single-post-text">
                        <p>Having Proficiency In Listening and speaking Fluently .</p>
                    </div>
                    <div class="progress">
                        <div class="percentage" style="width: 90%;">
                            <span class="percent">90%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="name">Urdu</div>
                    <div class="single-post-text">
                        <p>Having Proficiency In Listening and speaking Fluently .</p>
                    </div>
                    <div class="progress">
                        <div class="percentage" style="width: 100%;">
                            <span class="percent">100%</span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>

<!-- Section Design Skills -->
<div class="section skills" id="section-skills-code">
    <div class="content">

        <!-- title -->
        <div class="titles">
            <div class="title">Coding Skills</div>
            <div class="subtitle">Developing on</div>
        </div>

        <!-- skills items -->
        <div class="skills  circles">
            <ul>
                <li>
                    <div class="progress p100">
                        <div class="percentage"></div>
                        <span>100%</span>
                    </div>
                    <div class="name">Dot Net Core</div>
                    <div class="single-post-text">
                        <p>Dot Net Core MVC 5 Dot Net Core Web Apis.</p>
                    </div>
                </li>

                <li>
                    <div class="progress p90">
                        <div class="percentage"></div>
                        <span>90%</span>
                    </div>
                    <div class="name">MSSQL</div>
                    <div class="single-post-text">
                        <p>MSSQL Management Studio 2019.</p>
                    </div>
                </li>

                <li>
                    <div class="progress p90">
                        <div class="percentage"></div>
                        <span>90%</span>
                    </div>
                    <div class="name">JS / Jquery</div>
                    <div class="single-post-text">
                        <p>JavaScript,Ajax , Json , Jquery , Server Side Scrippting and Api Calls.</p>
                    </div>
                </li>

                <li>
                    <div class="progress p100">
                        <div class="percentage"></div>
                        <span>100%</span>
                    </div>
                    <div class="name">HTML, CSS ,BS4</div>
                    <div class="single-post-text">
                        <p>HyperText Markup Language , Cascading Style Sheets and  BootStrap</p>
                    </div>
                </li>

                <li>
                    <div class="progress p90">
                        <div class="percentage"></div>
                        <span>90%</span>
                    </div>
                    <div class="name">OOP</div>
                    <div class="single-post-text">
                        <p>Object-oriented programming.</p>
                    </div>
                </li>



            </ul>
        </div>

    </div>
</div>

<!-- Section Clients -->
<!--<div class="section clients" id="section-clients">
    <div class="content">-->

        <!-- title -->
        <!--<div class="titles">
            <div class="title">Clients</div>
            <div class="subtitle">My partners</div>
        </div>-->

        <!-- clients items -->
        <!--<div class="content-carousel">
            <div class="owl-carousel" data-slidesview="4" data-slidesview_mobile="2">

                <div class="item">
                    <div class="clients-item">
                        <a target="_blank" href="https://www.bslthemes.site/">
                            <img src="/assets/img/clients/client2.png" alt="client logo" />
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="clients-item">
                        <a target="_blank" href="https://www.bslthemes.site/">
                            <img src="/assets/img/clients/client3.png" alt="client logo" />
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="clients-item">
                        <a target="_blank" href="https://www.bslthemes.site/">
                            <img src="/assets/img/clients/client1.png" alt="client logo" />
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="clients-item">
                        <a target="_blank" href="https://www.bslthemes.site/">
                            <img src="/assets/img/clients/client4.png" alt="client logo" />
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="clients-item">
                        <a target="_blank" href="https://www.bslthemes.site/">
                            <img src="/assets/img/clients/client2.png" alt="client logo" />
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="clients-item">
                        <a target="_blank" href="https://www.bslthemes.site/">
                            <img src="/assets/img/clients/client3.png" alt="client logo" />
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="clients-item">
                        <a target="_blank" href="https://www.bslthemes.site/">
                            <img src="/assets/img/clients/client1.png" alt="client logo" />
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="clients-item">
                        <a target="_blank" href="https://www.bslthemes.site/">
                            <img src="/assets/img/clients/client4.png" alt="client logo" />
                        </a>
                    </div>
                </div>

            </div>-->

            <!-- navigation -->
            <!--<div class="navs">
                <span class="prev fas fa-chevron-left"></span>
                <span class="next fas fa-chevron-right"></span>
            </div>

        </div>

        <div class="clear"></div>
    </div>
</div>-->


<!-- Section Contacts Info >-->
<div class="section contacts" id="section-contacts">
    <div class="content">

        <!-- title -->
        <div class="titles">
            <div class="title">Contact</div>
            <div class="subtitle">Let's talk</div>
        </div>

        <!-- contact form -->
        <div class="contact-form">
            <form id="cform" asp-action="SendEmail" method="post">
                <div class="group-val">
                    <div class="label">Full Name <strong>*</strong></div>
                    <input asp-for="Name" required placeholder="eg.: khan" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="group-val">
                    <div class="label">Email Address <strong>*</strong></div>
                    <input asp-for="To" required placeholder="example@domain.com" />
                    <span asp-validation-for="To" class="text-danger"></span>
                </div>
                <div class="group-val">
                    <div class="label">Message <strong>*</strong></div>
                    <textarea asp-for="Body" required placeholder="To Write"></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                <div class="group-bts">
                    <button type="submit" class="btn">
                        <span class="animated-button"><span>Send Message</span></span>
                        <i class="icon fas fa-chevron-right"></i>
                    </button>
                </div>
            </form>
            <div class="alert-success">
                <p>Thanks, your message is sent successfully.</p>
            </div>
        </div>

        <!-- contact info -->
        <div class="contact-info">
            <div class="name">Zaeem Khan</div>
            <div class="subname">Web Developer</div>
            <div class="info-list">
                <ul>

                    <li><strong>Age:</strong> 20</li>

                    <li><strong>Residence:</strong> Multan</li>

                    <li><strong>Freelance:</strong> Available</li>

                    <li><strong>Address:</strong> Punjab,Pakistan</li>

                    <li><strong>Phone:</strong> <a href="tel:923075378081">+92 3075378081</a></li>

                    <li><strong>E-mail:</strong> <a href="mailto:contact@zaeemkhan.me">contact@zaeemkhan.me</a></li>

                </ul>
            </div>
            <div class="author">Zaeem khan</div>
        </div>

        <div class="clear"></div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}