   <!-- Header -->
<header class="header">

    <!-- logo -->
    <div class="logo">
        <a asp-action="Index" asp-controller="Home">
            <img class="logo-img" src="/assets/img/logo.png" alt="Zaeem khan" />
            <span class="logo-lnk">Zaeem <br />Khan</span>
        </a>
    </div>

    <!-- menu button -->
    <a href="#" class="menu-btn"><span></span></a>

    <!-- download cv button -->
    <a href="/Resume.pdf" class="btn download-cv-btn" target="_blank">
        <span class="animated-button"><span>Download CV</span></span>
        <i class="icon fas fa-download"></i>
    </a>

    <!-- header sidebar -->
    <div class="header-sidebar">

        <!-- top menu -->
        <div class="top-menu">
            <div class="top-menu-nav">
                <div class="menu-topmenu-container">
                    <ul class="menu">


                        <li class="menu-item ">
                            <a href="#section-about">
                                <span class="animated-button"><span>About</span></span>
                            </a>

                        </li>
                        <li class="menu-item ">
                            <a href="#section-services">
                                <span class="animated-button"><span>Services</span></span>
                            </a>

                        </li>
                        <li class="menu-item ">
                            <a href="#section-experience">
                                <span class="animated-button"><span>Experience</span></span>
                            </a>

                        </li>
                        <li class="menu-item ">
                            <a href="#section-skills-code">
                                <span class="animated-button"><span>Skills</span></span>
                            </a>

                        </li>


                        <li class="menu-item ">
                            <a href="#section-experience">
                                <span class="animated-button"><span>Resume</span></span>
                            </a>

                        </li>


                        @*<li class="menu-item ">
                            <a href="#section-portfolio">
                                <span class="animated-button"><span>Portfolio</span></span>
                            </a>

                        </li>*@


                        <li class="menu-item ">
                            <a href="#section-contacts">
                                <span class="animated-button"><span>Contacts</span></span>
                            </a>

                        </li>


                    </ul>
                </div>
            </div>
        </div>

    </div>

</header>